@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  color: #F7F7EE;
  font-family: 'Poppins', 'sans-serif';
}

.App {
  text-align: center;
}

.hidden{
  visibility: hidden;
}

.navbar{
  background-color: #17706E;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.navbar h2{
  border-bottom: 2px solid white;
}

/* brown=> #FB7813 */

.counter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  height: 65vh;
}

.decr, .incr{
  font-family: "Poppins";
  width: 150px;
  height: 150px;
  background-color: #FB7813;
  color: #F7F7EE;
  border-radius: 50%;
  border: none;
  font-size: large;
}

.count{
  background-color: #FB7813;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.count h1{
  margin: 70px;
  font-size: 5em;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.reset{
  font-family: "Poppins";
  width: 175px;
  height: 100px;
  background-color: #FB7813;
  color: #F7F7EE;
  border: none;
  font-size: large;
}

.reset:active, .incr:active, .decr:active{
  background-color: #c05401;
}
